@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&family=Roboto+Mono:wght@700&family=Sigmar&display=swap');

html {
  font-size: 10px;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #252525;
  color: azure;
  max-width: 100vw;
}

.row {
  display: flex;
  flex-direction: row;
}

.column {
  display: flex;
  flex-direction: column;
}

:root {
  --margin: 3rem;
  --gap: 3rem;
  --border-radius: 1rem;
  --color-blue: turquoise;
  --color-light: azure;
  --color-black: #252525;
  --color-red: tomato;
  --title-fs: 4rem;
  --title-ff: 'Sigmar', cursive;
  --subtitle-ff: 'Bruno Ace SC', cursive;
  --subtitle-fs: 2.6rem;
  --main-ff: 'Roboto Mono', monospace;
  --spacing: 1rem;
  --regular: 400;
  --bold: 700;
}

.timer {
  margin: var(--margin) auto;
  width: 70vw;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  text-align: center;
}

.title {
  font-size: var(--title-fs);
  font-family: var(--title-ff);
  font-weight: var(--regular);
  color: var(--color-blue);
  text-transform: uppercase;
}

.btns {
  width: 40vw;
  justify-content: space-between;
  align-items: center;
}

.btn {
  padding: calc(var(--margin) / 3) var(--margin);
  min-width: 18vw;
  background-color: var(--color-red);
  border-radius: var(--border-radius);
  font-family: var(--subtitle-ff);
  font-weight: var(--regular);
  letter-spacing: var(--spacing);
  font-size: var(--subtitle-fs);
}

.screen {
  width: 40vw;
  justify-content: space-between;
}

.screen-field {
  padding: var(--margin);
  border-radius: var(--border-radius);
  border: 4px solid var(--color-red);
  width: 48%;
  gap: var(--gap);
  background-color: aliceblue;
  color: black;
  font-size: 2rem;
}

.time {
  font-family: var(--main-ff);
  font-weight: var(--bold);
  font-size: 6rem;
}

.value {
  font-family: var(--subtitle-ff);
  font-weight: var(--regular);
}
